useDynLib(QPot, quasipotential)

export(QPotential)
export(defaultTest)
export(QPContour)
export(QPGlobal)
export(TSDensity)
export(TSPlot)
export(TSTraj)
export(VecDecompVec)
export(VecDecompAll)
export(VecDecompGrad)
export(VecDecompRem)
export(VecDecompPlot)
