useDynLib(QPot, quasipotential)

importFrom("grDevices", "colorRampPalette", "rgb")
importFrom("graphics", ".filled.contour", "abline", "arrows", "axis",
			"contour", "lines", "par", "plot", "polygon")
importFrom("stats", "density", "rnorm")
importFrom("utils", "read.table")

export(Model2String)
export(QPContour)
export(QPGlobal)
export(QPInterp)
export(QPotential)
export(TSDensity)
export(TSPlot)
export(TSTraj)
export(VecDecomAll)
export(VecDecomGrad)
export(VecDecomRem)
export(VecDecomPlot)
export(VecDecomVec)
